{% extends 'base.html' %}

{% block title %} {{ post.title}} | {{post.subtitle}} {% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
<small>Por: {{ post.author }} - {{ post.date }} | <a href="{% url 'category' post.category %}">{{ post.category }}</a>{% if user.is_authenticated %} | <a href="{% url 'edit' post.pk %}">[ Editar ]</a> <a href="{% url 'delete' post.pk %}">[ Borrar ]</a>{% endif %}</small>
<hr>
<p>{{ post.body|safe }}</p>
<hr>
<a href="{% url 'home' %}" class="btn btn-secondary">ATRAS</a>
{% endblock %}
