{% extends 'base.html' %}
{% load static  %}

{% block title %} Abrazar Tejiendo {% endblock %}
{% block content %}

<div class=fondo1>
    <div class=texto1>
<h1>¿Quienes Somos?</h1>


<p>  Acción social, voluntariado y red solidaria se tejen y sostienen a lo largo de más de dos años con la fundación de Abrazar tejiendo, un proyecto que sigue sumando colaboradores con el fin de asistir a los sectores más vulnerables de la comunidad villangelense. 
</p>

</div>
</div>

<div class=photos>

    <img class="img1" src=  "{% static 'img/1.jpeg' %}" alt="imagen1"  /> 
    <b class=b> Nuestro objetivo : confeccionar ropa de bebes y niños para donar a hospitales y barrios carenciados</b>

    <img class="img2" src=  "{% static 'img/2.jpeg' %}"  alt="imagen2"/>
    <span> Presentacion libro "Abrazar Tejiendo " Una experiencia psicosocial generada en la pandemia COVID 19 </span>
    <img class="img3" src=  "{% static 'img/3.jpeg' %}"  alt="imagen3"/>
    <b class=b> Nuestra mision : Llegar a la mayor cantidad de personas vulnerables posibles con la ayuda producida y recolectada </b>

    <img class="img4" src=  "{% static 'img/4.jpeg' %}"  alt="imagen4"/>
    <img class="img5" src=  "{% static 'img/5.jpeg' %}"  alt="imagen5"/>
    <img class="img6" src=  "{% static 'img/6.jpeg' %}"  alt="imagen6"/>
    <img class="img7" src=  "{% static 'img/7.jpeg' %}"  alt="imagen7"/>
    <img class="img8" src=  "{% static 'img/8.jpeg' %}"  alt="imagen8"/>
    <img class="img9" src=  "{% static 'img/9.jpeg' %}"  alt="imagen9"/>
</div>

{% endblock %}